node_modules
.DS_Store
dist
dist-ssr
storybook-static
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.vscode/

.dev.vars*
!.dev.vars.example
.secrets.ci
!.env.example


# APM dependencies
apm_modules/
!.vscode/mcp.json
.agents/
.github/skills
